<h3 #faq class="card-title fs-1 mt-4" style="text-align: center">FAQs</h3>
<div class="accordion" id="accordionPanelsStayOpenExample" style="padding: 15px 185px">
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" style="font-size: 25px"
        data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
        Q. Who is eligible for NEMT services?
      </button>
    </h2>
    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
      aria-labelledby="panelsStayOpen-headingOne">
      <div class="accordion-body" style="font-size: 14px; font-style: italic">
        A. NEMT services typically offer a range of transportation options,
        including wheelchair-accessible vehicles, sedans, vans, or specialized
        vehicles equipped with medical equipment, based on the individual's
        needs.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" style="font-size: 25px"
        data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
        Q. How do I book NEMT services?
      </button>
    </h2>
    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
      aria-labelledby="panelsStayOpen-headingTwo">
      <div class="accordion-body" style="font-size: 14px; font-style: italic">
        A. To book NEMT services, you can usually contact a designated NEMT
        provider or a transportation coordination center. They will guide you
        through the booking process and help arrange transportation for your
        medical appointments.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" style="font-size: 25px"
        data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
        aria-controls="panelsStayOpen-collapseThree">
        Q. Is NEMT available for wheelchair users or individuals with mobility
        challenges?
      </button>
    </h2>
    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
      aria-labelledby="panelsStayOpen-headingThree">
      <div class="accordion-body" style="font-size: 14px; font-style: italic">
        A. Yes, NEMT often caters to individuals with mobility challenges,
        including wheelchair users. Providers typically offer
        wheelchair-accessible vehicles and ensure trained drivers who can assist
        with boarding and securing the wheelchair.
      </div>
    </div>
  </div>
</div>