.bg-secondary {
    background-color: #fff !important;
}

.btn-primary {
    color: black;
    background-color: white;
    border-color: #ced4da;
}

.btn-primary:hover {
    color: white;
    background-color: black;
    border-color: #ced4da;
}

