.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 758px;
    margin-top: 20px;
}
.custom-border {
    border: 2px solid black;
    width: 100%;
    height: 100px;
    display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
            font-size: 30px;
}
.btn-primary {
    color: black;
    background-color: white;
    border-color: #ced4da;
}

.btn-primary:hover {
    color: white;
    background-color: black;
    border-color: #ced4da;
}

.footerButtonsContainer{
    display: flex;
    button{
        margin-right: 20px;
    }
}