// button color change
.mat-mdc-raised-button.mat-primary {
  background-color: #90c402;
  width: 200px;
}

.mat-step-icon-selected {
  background-color: #90c402;
}

.mat-stepper-previous
  .mdc-button
  .mdc-button--raised
  .mat-mdc-raised-button
  .mat-unthemed
  .mat-mdc-button-base {
  width: 200px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 758px;
  margin-top: 20px;
}
.book-ride-css {
  background-color: #dbdcdd;
  border-radius: 5px;
}

.mat-step-icon {
  background-color: green;
}

.custom-border {
  border: 2px solid black;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 30px;
}
.btn-primary {
  color: black;
  background-color: white;
  border-color: #ced4da;
}

.btn-primary:hover {
  color: white;
  background-color: black;
  border-color: #ced4da;
}

.footerButtonsContainer {
  display: flex;
  justify-content: space-between;
  button {
    margin-right: 20px;
    width: 200px;
  }
}

.footerButtonsContainer .submit-cta {
  background-color: #90c402;
  //   text-align: right;
}
