<div id="Call_Customer_Service_303333-3" style="color: black; ">
  <img src="assets/NoPath_-_Copy_8@2x.png" style="width:30px">
  <span>Call Customer Service: (303)333-3333 | Schedule Monday to Friday 4 AM -
    7 PM | RIDES AVAILABLE 24/7
  </span>
</div>
<div id="formally_Barentu_LLC_doing_bus" style=" display: flex; justify-content: flex-end;">
  <span>(formally </span><span style="color: rgba(255, 0, 0, 1)">Barentu</span>
  <span style="color: rgba(255, 0, 0, 1)">LLC</span><span>) doing business as Springs Transportation </span>
</div>

<!-- <mat-toolbar>
  <div class="nav-bar">
    <div class="logo">

    </div>
    <div class="nav">
      <ul>
        <li>
          <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Our Service</a>
        </li>
        <li>
          <a routerLink="/our-services" routerLinkActive="active" ariaCurrentWhenActive="page">Book A RIde</a>
        </li>
        <li>
          <a routerLink="/our-services" routerLinkActive="active" ariaCurrentWhenActive="page">FAQs</a>
        </li>
        <li>
          <a routerLink="/our-services" routerLinkActive="active" ariaCurrentWhenActive="page">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</mat-toolbar> -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-expand-md justify-content-center">
  <a href="/" class="navbar-brand mr-0">
    <img src="assets/springs-logo.svg" />
  </a>
  <button class="navbar-toggler ml-1" type="button" data-toggle="collapse" data-target="#collapsingNavbar2">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse justify-content-between align-items-center w-100" id="collapsingNavbar2">
    <ul class="navbar-nav mx-auto text-center">
      <li class="nav-item active">
        <a class="nav-link" href="#">Our Service </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="//codeply.com">Book-A-RIde</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="//codeply.com">FAQs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
    <ul class="nav navbar-nav flex-row justify-content-center flex-nowrap">
      <li class="nav-item"><a class="nav-link" href=""><i class="fa fa-facebook mr-1"></i></a> </li>
      <li class="nav-item"><a class="nav-link" href=""><i class="fa fa-twitter"></i></a> </li>
    </ul>
  </div>
</nav>