<div id="Call_Customer_Service_303333-3" style="color: black;">
  <span>Call Customer Service: (303)333-3333 | Schedule Monday to Friday 4 AM - 7 PM | RIDES AVAILABLE 24/7
  </span>
</div>
<div id="formally_Barentu_LLC_doing_bus" style=" display: flex; justify-content: flex-end;">
  <span>(formally </span><span style="color: rgba(255, 0, 0, 1)">Barentu</span>
  <span style="color: rgba(255, 0, 0, 1)">LLC</span><span>) doing business as Springs Transportation </span>
</div>

<mat-toolbar>
  <div class="nav-bar">
    <div class="logo">
      <img src="assets/springs-logo.svg" />
    </div>
    <div class="nav">
      <ul>
        <li>
          <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Our Service</a>
        </li>
        <li>
          <a routerLink="/our-services" routerLinkActive="active" ariaCurrentWhenActive="page">Book A RIde</a>
        </li>
        <li>
          <a routerLink="/our-services" routerLinkActive="active" ariaCurrentWhenActive="page">FAQs</a>
        </li>
        <li>
          <a routerLink="/our-services" routerLinkActive="active" ariaCurrentWhenActive="page">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</mat-toolbar>