.nav-bar {
  width: 100%;
  display: flex;
  
  .logo {
    flex: 0.4;
    display: flex;
    align-items: center;
  }

  .nav {
    flex: 0.6;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    ul {
      width: 100%;
      display: flex;
      align-items: center;
      list-style-type: none;

      li {
        padding: 10px;
        min-width: 50px;
        // border: 1px solid #0078d7;
        font-weight: 12px;
        margin-right: 20px;
        & a {
          text-decoration: none;
        }
      }
    }
  }
}
.active{
  color: #90c402 !important;
}

li.nav-item {
  padding: 0px 54px 0 0;
  font-size: 18px;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #90c402;
}

.mat-toolbar-single-row {
  margin-top: 29px;
  background: black;
}

.nav-bar[_ngcontent-ng-c2457042804] .nav[_ngcontent-ng-c2457042804] ul[_ngcontent-ng-c2457042804] li[_ngcontent-ng-c2457042804] a[_ngcontent-ng-c2457042804] {
  text-decoration: none;
  color: white;
}

.nav-bar[_ngcontent-ng-c2457042804] .nav[_ngcontent-ng-c2457042804] ul[_ngcontent-ng-c2457042804] li[_ngcontent-ng-c2457042804] a[_ngcontent-ng-c2457042804]:hover {
  text-decoration: none;
  color: #FFD100;
}

@media (min-width: 425px) {
  div.formally-text {
        text-align: center;
          margin-left: 87px;
          font-size: 9px;
  }

    div img.main-container {
          height: 200px; /*??*/
    }

    .video-css {
          margin-top:20px;
        }
}