<style>
    /* Center the text inside the card body */
    .card-body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Add cool shadow to the cards */
    .card {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
        /* Optional: Adjust shadow properties for your preferred look */
        border-radius: 9px;

    }

    p>img {
        padding-left: 24px;
    }

    .heights-css {
        height: 100px;
    }

    .accordion-item {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);

    }
</style>

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="assets/rocky-mountain-waterfall-lake-7hyyokcanm637utd.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
            <img src="assets/NoPath_cu.png" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
            <img src="assets/fantasy-planets-in-space-eadjr5zrwm5n88mo.jpg" class="d-block w-100" alt="..." />
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<!-- our service -->
<h3 class="card-title fs-1 mt-4" style="text-align: center">Our Service</h3>
<div class="container mt-5">
    <div class="row row-cols-1 row-cols-md-5">
        <div class="col mb-4">
            <div class="card">
                <div class="card-body">
                    Appointment

                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
                <div class="card-body">
                    Hospital Discharges
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
                <div class="card-body">
                    Behavioral Health Visits
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
                <div class="card-body">
                    Child Health Visit
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
                <div class="card-body">
                    Lab Appointment
                </div>
            </div>
        </div>
    </div>
</div>

<!-- cards with images -->
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="card">
                <img src="/assets/NoPath_-_Copy_2@2x.png" class="card-img-top" alt="Image 1" />
                <div class="card-body heights-css">
                    <h5 class="card-title">Outpatient Clinic</h5>
                    <p class="card-text"><img src="/assets/arrow.svg"></p>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="card">
                <img src="assets/pexels-matthias-zomer-339620.png" class="card-img-top" alt="Image 2" />
                <div class="card-body heights-css">
                    <h5 class="card-title">Physical Therapy</h5>
                    <p class="card-text"><img src="/assets/arrow.svg"></p>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="card">
                <img src="assets/NoPath.png" class="card-img-top" alt="Image 3" />
                <div class="card-body heights-css">
                    <h5 class="card-title">Parental Appointment</h5>
                    <p class="card-text"><img src="/assets/arrow.svg"></p>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="card">
                <img src="assets/NoPath_-_Copy.png" class="card-img-top" alt="Image 4" />
                <div class="card-body heights-css">
                    <h5 class="card-title">Dialysis Treatment</h5>
                    <p class="card-text"><img src="/assets/arrow.svg"></p>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="card">
                <img src="assets/pexels-polina-tankilevitch-3735709.jpg" class="card-img-top" alt="Image 5"
                    style="height: 242px;" />
                <div class="card-body heights-css">
                    <h5 class="card-title">Radiation/Lab Appt</h5>
                    <p class="card-text"><img src="/assets/arrow.svg"></p>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="card">
                <img src="assets/pexels-anna-shvets-3845806.png" class="card-img-top" alt="Image 6" />
                <div class="card-body heights-css">
                    <h5 class="card-title">Dental Clinics</h5>
                    <p class="card-text"><img src="/assets/arrow.svg"></p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- two sections - desc details on the trans. company -->
<div style="background-color: #f1f1f1; height: 600px; width: 100%;">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex flex-column justify-content-center bg-light">
                <!-- Content for Section 1 goes here -->
                <p>
                    Welcome to Springs NEMT website, where reliable transportation meets compassionate care. We are
                    dedicated to providing
                    safe and accessible transportation solutions for your non-emergency medical needs.

                    ​

                    NEMT in Colorado refers to Non-Emergency Medical Transportation services available in the state. It
                    provides safe and
                    reliable transportation for individuals who require assistance or specialized transportation to
                    attend medical
                    appointments, treatments, or healthcare facilities.

                    ​

                    Our exceptional service in Colorado Spring area only. thank you for visitng our site!

                </p>
            </div>

            <div class="col-md-6 d-flex flex-column justify-content-center bg-secondary text-light">
                <!-- Content for Section 2 goes here -->
                <h2>Section 2</h2>
                <video controls width="100%">
                    <source src="assets/NEMT - SD 480p.mov" type="video/mp4" />
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </div>
</div>

<!-- FAQ -->
<h3 #faq class="card-title fs-2 mt-4" style="text-align: center; ">FAQs</h3>
<div class="accordion" id="accordionPanelsStayOpenExample" style="padding: 49px;">
    <div class=" accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" style="font-size: 30px;"
                data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                aria-controls="panelsStayOpen-collapseOne">
                Q. Who is eligible for NEMT services?
            </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
            aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
                A. NEMT services typically offer a range of transportation options,
                including wheelchair-accessible vehicles, sedans, vans, or specialized
                vehicles equipped with medical equipment, based on the individual's
                needs.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" style="font-size: 30px;"
                data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                aria-controls="panelsStayOpen-collapseTwo">
                Q. How do I book NEMT services?
            </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingTwo">
            <div class="accordion-body">
                A. To book NEMT services, you can usually contact a designated NEMT
                provider or a transportation coordination center. They will guide you
                through the booking process and help arrange transportation for your
                medical appointments.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" style="font-size: 30px;"
                data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                aria-controls="panelsStayOpen-collapseThree">
                Q. Is NEMT available for wheelchair users or individuals with mobility
                challenges?
            </button>
        </h2>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingThree">
            <div class="accordion-body">
                A. Yes, NEMT often caters to individuals with mobility challenges,
                including wheelchair users. Providers typically offer
                wheelchair-accessible vehicles and ensure trained drivers who can assist
                with boarding and securing the wheelchair.
            </div>
        </div>
    </div>
</div>